<template>
  <div id="app">
    <Header v-bind:orders="orders" v-on:remove-order="RemoveOrder" v-on:handle-sidebar="handleSidebar" v-on:order-form="handleOrderForm" />
    <Backdrop class="backdrop" v-bind:class="{ show: showBackdrop }" v-on:close-sidebar="closeSidebar" />
    <Sidebar v-bind:showSidebar="showSidebar" v-on:close-sidebar="closeSidebar" />
    <OrderForm
      v-bind:class="{ show: showOrderForm }"
      v-on:close-order-form="closeOrderForm"
      v-bind:orders="orders"
      v-on:reset-orders="resetOrders"
    />
    <router-view
      class="main"
      v-on:add-order="AddOrder"
      v-bind:bestOffers="bestOffers"
      v-bind:foodCategories="foodCategories"
      v-bind:menuItems="menuItems"
      v-on:order-form="handleOrderForm"
    />
    <ServerMessage :class="{ hidden: !this.$store.state.errorMessage && !this.$store.state.successMessage }" />
    <Footer />
  </div>
</template>

<script>
import Header from "./components/Header";
import Footer from "./components/Footer";
import axios from "axios";
import Sidebar from "./components/Sidebar";
import Backdrop from "./components/Backdrop";
import OrderForm from "./components/OrderForm";
import ServerMessage from "./components/ServerMessage";

export default {
  name: "App",
  components: {
    Header,
    Footer,
    Sidebar,
    Backdrop,
    OrderForm,
    ServerMessage,
  },
  data() {
    return {
      menuItems: "",
      bestOffers: [],
      orders: [],
      foodCategories: [],
      showBackdrop: false,
      showSidebar: false,
      showOrderForm: false,
    };
  },
  methods: {
    AddOrder(order) {
      this.orders = [...this.orders, order];
    },
    RemoveOrder(index) {
      this.orders.splice(index, 1);
    },
    resetOrders() {
      this.orders = [];
    },
    handleSidebar() {
      this.showSidebar = !this.showSidebar;
    },
    closeSidebar() {
      this.showSidebar = false;
    },
    handleOrderForm() {
      if (!this.orders.length) this.$store.commit("setErrorMessage", "Choose Items before ordering");
      else {
        this.showOrderForm = true;
        this.showBackdrop = true;
      }
    },
    closeOrderForm() {
      this.showOrderForm = false;
      this.showBackdrop = false;
    },
  },
  mounted() {
    axios
      .get("/api/menuItems")
      .then((res) => (this.menuItems = res.data))
      .catch((err) => this.$store.commit("setErrorMessage", err.response.data.error.message));
    axios
      .get("/api/bestOffers")
      .then((res) => (this.bestOffers = res.data))
      .catch((err) => this.$store.commit("setErrorMessage", err.response.data.error.message));
    axios
      .get("/api/foodCategories")
      .then((res) => (this.foodCategories = res.data))
      .catch((err) => this.$store.commit("setErrorMessage", err.response.data.error.message));
    this.closeSidebar();
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 90vh;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #fdf3e0;
}

p {
  font-weight: 600;
}

.main {
  margin-top: 5rem;
  min-height: 100vh;
}

.order-button {
  background-color: #ec9114;
  padding: 1rem;
  border-radius: 1rem;
  border: 3px solid white;
  color: white;
  font-size: larger;
  font-weight: bold;
}
.order-button:hover,
.order-button:focus {
  background-color: #ff7300;
  box-shadow: 0px 0px 0px 2px #ff831e;

  outline: none;
}
.order-form {
  display: none;
}
.order-form.show {
  display: block;
}
.error-message {
  text-align: left;
  padding: 0.2rem 1rem;
  font-size: 13px;
  color: #fb6767;
}
.close-window {
  position: absolute;
  right: 0;
  top: 0;
  width: 37px !important;
  height: 32px;
  color: #2c3e50;
  cursor: pointer;
}
</style>
