<template>
  <div @click="$emit('close-sidebar')"></div>
</template>

<script>
export default {
  name: "Backdrop"
};
</script>

<style scoped>
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 51%);
  left: 0;
  top: 0;
  z-index: 90;
  display: none;
}
.backdrop.show {
  display: block;
}

@media only screen and (max-width: 700px) {
  .order-button {
    padding: auto;
    padding: 0.2rem;
  }
}
</style>