<template>
  <div class="selected-menu-item-full" v-if="showBurgerDetails">
    <div class="arrow-back">
      <font-awesome-icon icon="arrow-alt-circle-left" @click="$emit('close-details')" />
    </div>
    <img :src="getImgUrl(menuItem.picture)" alt="menu-item-picture" />
    <p>{{menuItem.name}} ${{menuItem.price}}</p>
    <span>
      <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod voluptatibus deserunt similique repellendus, in commodi doloremque perspiciatis voluptatum molestiae minus! Provident neque eveniet tenetur in eaque maiores minus necessitatibus distinctio.</span>
      <span>Autem nostrum harum excepturi unde veniam aperiam quibusdam, asperiores vero corrupti, assumenda reprehenderit aspernatur debitis tenetur itaque suscipit, cupiditate quasi eveniet aut totam ipsum dolores. Illum unde quibusdam modi quis?</span>
    </span>
    <button class="order-button" @click="$emit('add-order', menuItem)">Add to order list</button>
  </div>
</template>

<script>
export default {
  name: "BurgerDetails",
  props: ["menuItem", "showBurgerDetails"],
  methods: {
    getImgUrl(pic) {
      return require("../assets/" + pic + ".jpg");
    }
  }
};
</script>

<style >
.selected-menu-item-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  display: none;
  width: 100%;
}
.arrow-back {
  width: 100%;
  text-align: start;
  margin-top: 0.5rem;
}
.arrow-back svg {
  width: 40px !important;
  height: 40px;
}
.selected-menu-item-full img {
  max-height: 400px;
  width: 100%;
  margin-top: 0.5rem;
}
.selected-menu-item-full p {
  font-size: xx-large;
}
.selected-menu-item-full button {
  margin-top: 2rem;
}
@media only screen and (max-width: 930px) {
  .selected-menu-item-full {
    display: flex;
  }
}
</style>