<template>
  <div class="footer">
    <div class="footer-main">
      <div class="footer-info">
        <div class="footer-brand">
          <h2>BURGERINHO</h2>
          <span>©</span>
        </div>
        <p>Copyright 2020 Burgerinho Corporation.‌‌ All Rights Reserved.</p>
      </div>
      <div class="footer-icons">
        <a>
          <img class="icon" src="../assets/facebook-icon.png" alt="facebook icon" />
        </a>
        <a>
          <img class="icon" src="../assets/instagram-icon.png" alt="instagram icon" />
        </a>
        <a>
          <img class="icon" src="../assets/youtube-icon.png" alt="youtube icon" />
        </a>
        <a>
          <img class="icon" src="../assets/twitter-icon.png" alt="twitter icon" />
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style scoped>
.footer {
  background-color: #333;

  color: white;
  padding: 1rem 3rem;
}
.footer-main {
  display: flex;
  border-top: 1px solid;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 80%;
}
.footer h2 {
  font-weight: 900;
}
.footer p {
  font-weight: 600;
}
.footer-brand {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.footer-icons {
  margin-top: 1rem;
  width: 20%;
}
.icon {
  width: 30px;
  height: 30px;
  margin: 0.3rem;
  cursor: pointer;
}
@media only screen and (max-width: 950px) {
  .footer-main {
    display: block;
  }
  .footer-icons {
    width: 100%;
  }
}
</style>