<template>
  <div id="nav">
    <div class="hamburger-menu" @click="$emit('handle-sidebar')">
      <font-awesome-icon icon="bars" />
    </div>
    <div class="routes-menu">
      <router-link to="/" class="link">Home</router-link>|
      <router-link to="/menu" class="link">Menu</router-link>|
      <router-link to="/nutrition" class="link">Nutrition</router-link>|
    </div>
    <router-link to="/" class="home-icon">
      <img src="../assets/burger-logo.png" alt="burger-logo-pic" class="burger-logo" />
    </router-link>
    <button class="order-button cart-button" @click="ShowOrders">
      ${{ fullPrice }}
      <font-awesome-icon icon="shopping-cart" />
    </button>
    <div class="orders-cart" v-bind:class="{ hidden: showOrders === false }">
      <div class="orders">
        <div v-bind:key="index" v-for="(order, index) in orders" class="order-item">
          <span class="order-name">{{ order.name }}</span>
          <span>
            ${{ order.price }}
            <span class="remove-order" @click="$emit('remove-order', index)">x</span>
          </span>
        </div>
      </div>
      <div v-if="orders.length === 0" class="orders">
        <span>No orders</span>
      </div>
      <div class="orders-total">
        <span>Total</span>
        <span>${{ fullPrice }}</span>
      </div>
      <button class="get-order" @click="$emit('order-form')">Order</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      showOrders: false,
      fullPrice: "0.00",
    };
  },
  props: ["orders"],
  methods: {
    ShowOrders() {
      this.showOrders = !this.showOrders;
    },
  },
  updated() {
    this.fullPrice = this.orders
      .map((order) => {
        return order.price;
      })
      .reduce((a, b) => a + b, 0)
      .toFixed(2);
  },
};
</script>

<style scoped>
#nav {
  padding: 0 17px;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0 2px 1px #333;
}
.link {
  margin-right: 0.5rem;
}
#nav a {
  font-weight: bold;
  color: white;
}
#nav a:hover,
#nav a.router-link-exact-active {
  color: #e26014;
}
.burger-logo {
  height: 84px;
}
.hamburger-menu {
  display: none;
}
.hamburger-menu svg {
  height: 40px;
  width: 40px;
}
.hamburger-menu:hover,
.hamburger-menu:focus {
  color: #e26014;
}
.cart-button {
  padding: 6px;
  width: 8%;
}
.home-icon svg {
  height: 75px;
  width: 83px;
  color: #ec9114;
}
.home-icon svg:hover,
.home-icon svg:focus {
  color: #e26014;
}
.orders-cart {
  position: absolute;
  transform: scale(1);
  top: 73px;
  right: 18px;
  background-color: #fdf3e0;
  width: 400px;
  border-radius: 0.4rem;
  box-shadow: 0 0 1px 1px grey;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: hidden;
}
.orders-cart span {
  font-weight: 600;
  font-size: 18px;
}
.orders-cart.hidden {
  transform: scale(0);
}
.orders {
  overflow: scroll;
}
.order-item {
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.order-name {
  max-width: 50%;
}
.orders-total {
  text-align: start;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #333;
  padding: 0.3rem;
}
.get-order {
  background-color: #ec9114;
  border-radius: 0 0 0.4rem 0.4rem;
  outline: none;
  outline: none;
  border: none;
  padding: 0.3rem;
  color: white;
  font-weight: bold;
}
.get-order:hover,
.get-order:focus {
  background-color: #e26014;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
}
.remove-order {
  font-weight: 100;
  color: #59656f;
  cursor: pointer;
  margin-left: 0.2rem;
  padding: 0.2rem;
}
@media only screen and (max-width: 1200px) {
  .cart-button {
    width: fit-content;
  }
}
@media only screen and (max-width: 800px) {
  #nav {
    padding: 0 5px;
  }
  .routes-menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
    color: white;
  }
  .orders-cart {
    top: 81px;
    right: 9px;
    width: 95%;
  }
}
</style>
