<template>
  <div class="best-offers-menu">
    <div class="menu-item" v-bind:key="bestOffer.id" v-for="bestOffer in bestOffers">
      <img :src="getImgUrl(bestOffer.picture)" alt="bestOffer-pic" />
      <div class="menu-text" v-bind:bestOffer="bestOffer">
        <h4>
          {{ bestOffer.name }} ${{ bestOffer.price }} /
          <span>${{bestOffer.oldPrice}}</span>
        </h4>
        <button
          @click="$emit('add-order', bestOffer)"
          class="order-button add-button"
        >Add to order list</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MenuItems",
  props: ["bestOffers"],
  methods: {
    getImgUrl(pic) {
      return require("../assets/" + pic + ".jpg");
    }
  }
};
</script>

<style scoped>
.best-offers-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  gap: 2rem;
}
.menu-item {
  border: 1px solid #3333334f;
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu-item:hover {
  box-shadow: 0 0 2px 1px #3333334f;
}
.menu-item img {
  width: 100%;
  height: 60%;
  border-radius: 0.2rem 0.2rem 0 0;
}
.menu-text {
  text-align: center;
  margin-top: 1rem;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.3rem;
}
.menu-text h4 {
  font-weight: 600;
}
.menu-item span {
  color: #00000038;
  text-decoration: line-through;
}
.add-button {
  padding: 0.3rem;
  width: fit-content;
}

@media only screen and (max-width: 800px) {
  .best-offers-menu {
    display: block;
  }
  .menu-item {
    margin-bottom: 1rem;
  }
}
</style>
