<template>
  <div class="nutrition-details">
    <font-awesome-icon icon="window-close" class="close-window" @click="$emit('close-details')" />
    <h1>NUTRITION DETAILS</h1>
    <div class="item-info">
      <img :src="getImgUrl(itemDetails.picture)" />
      <h3>{{ itemDetails.name }}</h3>
    </div>
    <div class="item-nutrition-details">
      <p>Per Serving</p>
      <div class="item-detail">
        <span>Calories</span>
        <span>{{ itemDetails.calories }}</span>
      </div>
      <div class="item-detail">
        <span>Fat</span>
        <span>{{ itemDetails.fat }}</span>
      </div>
      <div class="item-detail">
        <span>Saturated Fat</span>
        <span>{{ itemDetails.saturatedFat }}</span>
      </div>
      <div class="item-detail">
        <span>Trans fat </span>
        <span>{{ itemDetails.transFat }}</span>
      </div>
      <div class="item-detail">
        <span>Cholesterol</span>
        <span>{{ itemDetails.cholesterol }}</span>
      </div>
      <div class="item-detail">
        <span>Sodium</span>
        <span>{{ itemDetails.sodium }}</span>
      </div>
      <div class="item-detail">
        <span>Salt</span>
        <span>{{ itemDetails.salt }}</span>
      </div>
      <div class="item-detail">
        <span>Carbohydrates</span>
        <span>{{ itemDetails.carbohydrates }}</span>
      </div>
      <div class="item-detail">
        <span>Fiber</span>
        <span>{{ itemDetails.fiber }}</span>
      </div>
      <div class="item-detail">
        <span>Sugar</span>
        <span>{{ itemDetails.sugar }}</span>
      </div>
      <div class="item-detail">
        <span>Proteins</span>
        <span>{{ itemDetails.proteins }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NutritionDetails",
  props: ["itemDetails"],
  methods: {
    getImgUrl(pic) {
      return require("../assets/" + pic + ".jpg");
    },
  },
};
</script>

<style scoped>
.nutrition-details {
  position: fixed;
  top: 13%;
  left: 32%;
  width: 35%;
  height: 78%;
  background-color: white;
  z-index: 150;
  border-radius: 0.3rem;
  box-shadow: 0 0 7px 0;
  padding: 1rem 2rem;
  overflow-y: scroll;
}
.nutrition-details::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}
.nutrition-details::-webkit-scrollbar-track {
  background: #e8e8e8;
}
.nutrition-details::-webkit-scrollbar-thumb {
  background-color: #2c3e50;
  border-radius: 8px;
}
.item-info {
  margin-bottom: 1rem;
}
.item-info img {
  width: 100%;
  height: 300px;
  border-radius: 0.3rem;
}
.item-nutrition-details {
  text-align: left;
}
.item-nutrition-details p {
  border-bottom: 1px solid #8080804a;
}
.item-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
h1,
h3 {
  font-weight: 600;
}
@media only screen and (max-width: 1200px) {
  .nutrition-details {
    width: 53%;
    left: 24%;
  }
}
@media only screen and (max-width: 800px) {
  .nutrition-details {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
</style>
