<template>
  <div class="order-form">
    <div class="order-form-header">
      <font-awesome-icon icon="window-close" class="close-window" @click="closeOrderForm" />
      <h1>Order {{ orderType }}</h1>
    </div>
    <div class="order-form-body">
      <div class="order-form-buttons" v-if="orderType === ''">
        <button @click="orderType = 'pickup'" class="order-button">Order Pickup</button>
        <button @click="orderType = 'delivery'" class="order-button">Order Delivery</button>
      </div>
      <div v-if="orderType === 'delivery'" class="order-delivery">
        <div class="order-form-input">
          <input type="text" class="form-control " v-model="deliveryAddress" required title=" " />
          <span class="floating-label">Delivery Address</span>
          <div class="error-message" v-if="errors.includes('deliveryAddress')">Field is required</div>
        </div>
        <div class="order-form-input">
          <input type="text" class="form-control" v-model="phoneNumber" required title=" " />
          <span class="floating-label">Phone Number</span>
          <div class="error-message" v-if="errors.includes('phoneNumber')">Field is required</div>
        </div>
        <div class="order-form-input">
          <input type="text" class="form-control" v-model="deliveryInstructions" required title=" " />
          <span class="floating-label">Delivery Instructions</span>
        </div>
        <p>Approximate wait time for delivery is 45 minutes. The phone number on file shall be used by drivers to get in touch with you.</p>
        <button @click="submit" class="order-button">ORDER</button>
      </div>

      <div v-if="orderType === 'pickup'">
        <div class="order-form-input">
          <select class="form-control select" v-model="pickupPlace">
            <option value selected disabled hidden>Choose restaurant...</option>
            <option>Restaurant 1</option>
            <option>Restaurant 2</option>
            <option>Restaurant 3</option>
            <option>Restaurant 4</option>
          </select>
          <div class="error-message" v-if="errors.includes('pickupPlace')">Field is required</div>
        </div>

        <div class="order-form-input">
          <input type="text" class="form-control" v-model="phoneNumber" required title=" " />
          <span class="floating-label">Phone Number</span>
          <div class="error-message" v-if="errors.includes('phoneNumber')">Field is required</div>
        </div>
        <div class="order-form-input">
          <input type="text" class="form-control" v-model="timeOfArrival" required title=" " />
          <span class="floating-label">Time of arrival</span>
          <div class="error-message" v-if="errors.includes('timeOfArrival')">Field is required</div>
        </div>
        <p>By giving us an estimated time of pickup your order will be freshly made when you arrive.</p>
        <button @click="submit" class="order-button">ORDER</button>
      </div>
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import axios from "axios";
export default {
  name: "OrderForm",
  data() {
    return {
      orderType: "",
      pickupPlace: "",
      deliveryAddress: "",
      phoneNumber: "",
      deliveryInstructions: "",
      timeOfArrival: "",
      errors: [],
    };
  },
  props: ["orders"],
  validations: {
    deliveryAddress: {
      required,
    },
  },
  methods: {
    closeOrderForm() {
      this.orderType = "";
      this.errors = [];
      this.pickupPlace = "";
      this.deliveryAddress = "";
      this.phoneNumber = "";
      this.deliveryInstructions = "";
      this.timeOfArrival = "";
      this.$emit("close-order-form");
    },
    submit() {
      this.errors = [];
      if (this.orderType === "delivery") {
        if (this.deliveryAddress === "") {
          this.errors = [...this.errors, "deliveryAddress"];
        } else if (this.phoneNumber === "") {
          this.errors = [...this.errors, "phoneNumber"];
        } else {
          const deliveryOrder = {
            orders: this.orders,
            deliveryAddress: this.deliveryAddress,
            phoneNumber: this.phoneNumber,
            deliveryInstructions: this.deliveryInstructions,
          };
          axios
            .post("/api/delivery-orders", deliveryOrder)
            .then((res) => {
              this.$store.commit("setSuccessMessage", res.data);
              this.closeOrderForm();
              this.$emit("reset-orders");
            })
            .catch((err) => this.$store.commit("setErrorMessage", err.response.data.error.message));
        }
      }
      if (this.orderType === "pickup") {
        if (this.pickupPlace === "") {
          this.errors = [...this.errors, "pickupPlace"];
        } else if (this.phoneNumber === "") {
          this.errors = [...this.errors, "phoneNumber"];
        } else if (this.timeOfArrival === "") {
          this.errors = [...this.errors, "timeOfArrival"];
        } else {
          const pickupOrder = {
            orders: this.orders,
            pickupPlace: this.pickupPlace,
            phoneNumber: this.phoneNumber,
            timeOfArrival: this.timeOfArrival,
          };
          axios
            .post("/api/pickup-orders", pickupOrder)
            .then((res) => {
              this.$store.commit("setSuccessMessage", res.data);
              this.closeOrderForm();
              this.$emit("reset-orders");
            })
            .catch((err) => this.$store.commit("setErrorMessage", err.response.data.error.message));
        }
      }
    },
  },
};
</script>

<style scoped>
.order-form {
  position: fixed;
  top: 14%;
  left: 25%;
  z-index: 100;
  width: 50%;
  height: 80%;
  background-color: white;
  border-radius: 0.4rem;
  background-color: #fdf3e0;
  padding: 1rem 3rem;
  overflow-y: scroll;
}
.order-form::-webkit-scrollbar {
  width: 0px;
}

.order-form h1 {
  font-weight: 900;
  margin-bottom: 4rem;
}
.order-form-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
p {
  font-size: 14px;
  color: #8e9293;
  margin-bottom: 2rem;
}
.order-button {
  min-width: 30%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.form-control {
  padding: 1.5rem;
  border-radius: 0.4rem;
}
.form-control:focus {
  box-shadow: 0 0 3px 3px #ec9114;
}
.order-form-input {
  margin-bottom: 2rem;
  position: relative;
}
.floating-label {
  position: absolute;
  pointer-events: none;
  top: 13px;
  left: 12px;
  color: #8e9293;
  padding: 0.1rem;
  transition: 0.2s ease all;
}
.select {
  padding: 0;
  font-size: 24px;
}

.form-control:focus ~ .floating-label,
.form-control:not(:focus):valid ~ .floating-label {
  top: -6px;
  left: 10px;
  font-size: 11px;
  opacity: 1;
  top: -12px;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 0 0 3px 3px #ec9114;
}
@media only screen and (max-width: 800px) {
  .order-form {
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 0;
  }
}
</style>
