<template>
  <div class="server-message" :class="{ error: this.$store.state.errorMessage }">
    <font-awesome-icon icon="times" class="close-server-message" @click="closeServerMessage" />
    <h1 v-if="this.$store.state.errorMessage"><font-awesome-icon icon="exclamation-triangle" /> {{ this.$store.state.errorMessage }}</h1>
    <h1 v-if="this.$store.state.successMessage"><font-awesome-icon icon="check" /> {{ this.$store.state.successMessage }}</h1>
  </div>
</template>

<script>
export default {
  name: "ErrorMessage",
  methods: {
    closeServerMessage() {
      this.$store.commit("setSuccessMessage", null);
      this.$store.commit("setErrorMessage", null);
    },
  },
};
</script>

<style scoped>
.server-message {
  position: fixed;
  width: 400px;
  min-height: 30%;
  bottom: 15px;
  right: 15px;
  background-color: #4cc136;
  color: white;
  opacity: 0.9;
  border-radius: 0.4rem;
  transform: scale(1);
  transition: 0.2s;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
.server-message.hidden {
  transform: scale(0);
}
.server-message.error {
  background-color: tomato;
}
.server-message h1 {
  text-align: center;
}
.close-server-message {
  position: absolute;
  top: 4px;
  right: 4px;
  height: 24px;
  width: 24px;
}
@media only screen and (max-width: 600px) {
  .server-message {
    bottom: 0;
    right: 0;
    width: 100%;
  }
}
</style>
