<template>
  <div class="sidebar" v-bind:class="{ hidden: !showSidebar}">
    <ul>
      <li @click="$emit('close-sidebar')">
        <router-link to="/">Home</router-link>
      </li>
      <li @click="$emit('close-sidebar')">
        <router-link to="/menu">Menu</router-link>
      </li>
      <li @click="$emit('close-sidebar')">
        <router-link to="/nutrition">Nutrition</router-link>
      </li>
    </ul>
  </div>
</template>


<script>
export default {
  name: "Sidebar",
  props: ["showSidebar"],
};
</script>


<style scoped>
.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  display: none;
  z-index: 200;
  height: 100vh;
  width: fit-content;
  transition: 0.5s;
  background-color: #2c3e50;
  opacity: 0.9;
  box-shadow: 0px 6px 14px 2px #333;
}
.sidebar ul {
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-align: start;
  padding: 1rem;
}
.sidebar li {
  width: fit-content;
}
.sidebar ul a {
  color: white;
}
.sidebar ul a:hover,
.sidebar ul a:focus {
  color: #ec9114;
}
.sidebar.hidden {
  left: -300px;
  transition: 0.3s;
}
@media only screen and (max-width: 800px) {
  .sidebar {
    display: block;
  }
}
</style>