<template>
  <div class="home">
    <div class="page-description">
      <p>This week only</p>
      <h1>Order three get one free!</h1>
      <p>By ordering three of our burgers you get one gratis</p>
      <p>+ FREE DELIVERY</p>
      <!-- <div class="order-buttons">
        <button class="order-button" @click="$emit('order-form')">ORDER PICKUP</button>
        <button class="order-button" @click="$emit('order-form')">ORDER DELIVERY</button>
      </div>-->
    </div>
    <div class="best-offers">
      <h3>BEST OFFERS</h3>
      <MenuItems v-bind:bestOffers="bestOffers" v-on:add-order="AddOrder" />
    </div>
  </div>
</template>

<script>
import MenuItems from "../components/MenuItems";
export default {
  name: "Home",
  components: { MenuItems },
  props: ["bestOffers"],
  methods: {
    AddOrder(order) {
      this.$emit("add-order", order);
    }
  }
};
</script>

<style scoped>
.page-description {
  background-image: url("../assets/burgers-background.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  position: relative;
  box-sizing: border-box;
}
.page-description h1 {
  color: white;
  font-size: 80px;
  font-weight: 900;
  text-align: left;
}
.page-description p {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0.4rem;
  text-align: left;
}
.order-buttons {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  width: 500px;
}
.best-offers {
  min-height: 600px;
  padding: 10px;
  margin: 5rem 20rem;
}
.best-offers h3 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1500px) {
  .best-offers {
    margin: 5rem 10rem;
  }
}
@media only screen and (max-width: 1000px) {
  .best-offers {
    margin: 5rem 3rem;
  }
}

@media only screen and (max-width: 800px) {
  .page-description {
    background-attachment: fixed;
    padding: 0.5rem;
  }
  .page-description h1 {
    font-size: 50px;
  }
  .page-description p {
    font-size: 30px;
  }
  .order-buttons {
    width: 100%;
  }
  .best-offers {
    margin: 0;
  }
}
</style>
