<template>
  <div class="menu">
    <div class="menu-list" v-bind:class="{ hidden: showBurgerDetails }">
      <div class="menu-list-header">
        <h2>MENU</h2>
        <select class="form-control" v-model="categoryFilter" @change="handleFilter">
          <option>All items</option>
          <option v-for="foodCategory in foodCategories" v-bind:key="foodCategory">{{ foodCategory }}</option>
        </select>
      </div>
      <div class="menu-items">
        <div
          v-for="displayedItem in displayedItems"
          v-bind:key="displayedItem._id"
          class="menu-item"
          @click="selectItem(displayedItem._id)"
          v-bind:class="{ 'selected-item': selectedItem[0] && selectedItem[0]._id === displayedItem._id }"
        >
          <img :src="getImgUrl(displayedItem.picture)" alt="displayedItem-pic" />
          <p>{{ displayedItem.name }} ${{ displayedItem.price }}</p>
        </div>
      </div>
    </div>
    <BurgerDetails
      v-bind:menuItem="selectedItem[0]"
      v-on:add-order="AddOrder"
      v-on:close-details="CloseDetails"
      v-bind:showBurgerDetails="showBurgerDetails"
    />
    <div class="selected-menu-item" v-if="selectedItem[0]">
      <img :src="getImgUrl(selectedItem[0].picture)" alt="menu-item-picture" />
      <p>{{ selectedItem[0].name }} ${{ selectedItem[0].price }}</p>
      <span>
        <span>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod voluptatibus deserunt similique repellendus, in commodi doloremque
          perspiciatis voluptatum molestiae minus! Provident neque eveniet tenetur in eaque maiores minus necessitatibus distinctio.
        </span>
      </span>
      <button class="order-button" @click="$emit('add-order', selectedItem[0])">Add to order list</button>
    </div>
  </div>
</template>

<script>
import BurgerDetails from "../components/BurgerDetails";
export default {
  name: "Menu",
  components: {
    BurgerDetails,
  },
  data() {
    return {
      displayedItems: [],
      selectedItem: "",
      showBurgerDetails: false,
      categoryFilter: "All items",
    };
  },
  props: ["menuItems", "foodCategories"],
  methods: {
    getImgUrl(pic) {
      return require("../assets/" + pic + ".jpg");
    },
    selectItem(id) {
      this.selectedItem = this.menuItems.filter((menuItem) => {
        return menuItem._id === id;
      });
      this.showBurgerDetails = true;
    },
    AddOrder(order) {
      this.$emit("add-order", order);
    },
    CloseDetails() {
      this.showBurgerDetails = false;
    },
    handleFilter() {
      if (this.categoryFilter === "All items") {
        this.displayedItems = this.menuItems;
      } else {
        this.displayedItems = this.menuItems.filter((item) => {
          return item.category === this.categoryFilter;
        });
        this.selectedItem = [this.displayedItems[0]];
      }
    },
  },
  mounted() {
    this.displayedItems = this.menuItems;
    this.selectedItem = [this.menuItems[0]];
  },
};
</script>

<style scoped>
.menu {
  display: flex;
}
.menu-list {
  background-color: #fdf3e0;
  width: 30%;
  box-shadow: 10px 0 8px -5px #88888880;
  overflow: hidden;
  height: 100vh;
}
.menu-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  text-align: start;
  background-color: #3333338a;
  color: white;
  margin: 0;
}
.menu-list-header h2 {
  font-weight: 900;
}
.menu-list-header select {
  width: fit-content;
  font-weight: 600;
}
.menu-items {
  overflow-y: scroll;
  height: 89%;
}

.menu-item {
  display: flex;
  height: 200px;
  border-bottom: 1px solid #3333334f;
  padding: 0.3rem;
  cursor: pointer;
}

.selected-item {
  border: 3px solid #ec9114;
}
.menu-item img {
  width: 50%;
  border-radius: 0.5rem;
}
.menu-item p {
  width: 50%;
  padding: 1rem;
  font-size: large;
}
.selected-menu-item {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 91vh;
  padding: 0 3rem;
}
.selected-menu-item img {
  height: 50%;
  width: 50%;
  border-radius: 0.5rem;
  margin: 2rem;
}
.selected-menu-item button {
  margin-top: 1rem;
}
.selected-menu-item p {
  font-size: xx-large;
}
.menu-items::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
.menu-items::-webkit-scrollbar-track {
  background: #e8e8e8;
}
.menu-items::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 8px;
}
@media only screen and (max-width: 1250px) {
  .selected-menu-item img {
    width: 60%;
  }
}
@media only screen and (max-width: 930px) {
  .menu {
    margin-bottom: 3rem;
  }
  .selected-menu-item {
    display: none;
  }
  .menu-list {
    width: 100%;
    overflow: unset;
    height: 100%;
  }
  .menu-items {
    overflow: unset;
  }
  .menu-list.hidden {
    display: none;
  }
}
</style>
