<template>
  <div class="nutrition">
    <NutritionDetails v-if="showItemDetails && itemDetails" v-on:close-details="closeItemDetails" v-bind:itemDetails="itemDetails" />
    <div class="select-filter">
      <select class="form-control" v-model="filterItems" @change="handleFilterItems">
        <option>All items</option>
        <option>Under 500cal</option>
        <option>Under 300cal</option>
        <option>Chicken</option>
        <option>Vegan</option>
      </select>
    </div>
    <div class="nutrition-items-list">
      <div class="nutrition-items" v-for="foodCategory in foodCategories" v-bind:key="foodCategory">
        <p @click="toggleItems(foodCategory)">
          <font-awesome-icon icon="sort-down" />
          {{ foodCategory.toUpperCase() }} ({{
            displayedItems.filter((item) => {
              return item.category === foodCategory;
            }).length
          }})
        </p>
        <div class="toggled-items" v-bind:class="{ hidden: showToggleItems[0] !== foodCategory }">
          <div
            v-for="displayedItem in displayedItems.filter((item) => {
              return item.category === foodCategory;
            })"
            v-bind:key="displayedItem._id"
            class="toggled-item"
            v-bind:class="{ hidden: showToggleItems[0] !== foodCategory }"
            @click="handleShowItemDetails(displayedItem)"
          >
            <img :src="getImgUrl(displayedItem.picture)" alt="displayedItem pic" />
            <span>{{ displayedItem.name }}</span>
            <span class="item-calories">{{ displayedItem.calories }} Cal</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import NutritionDetails from "../components/NutritionDetails";
export default {
  name: "Nutrition",
  components: {
    NutritionDetails,
  },
  data() {
    return {
      showToggleItems: "",
      displayedItems: [],
      filterItems: "All items",
      showItemDetails: false,
      itemDetails: "",
    };
  },
  props: ["menuItems", "foodCategories"],
  methods: {
    toggleItems(selectedCategory) {
      if (this.showToggleItems[0] != selectedCategory) {
        this.showToggleItems = this.foodCategories.filter((category) => {
          return category === selectedCategory;
        });
      } else this.showToggleItems = "";
    },
    getImgUrl(pic) {
      return require("../assets/" + pic + ".jpg");
    },
    handleFilterItems() {
      switch (this.filterItems) {
        case "All items":
          this.displayedItems = this.menuItems;
          break;
        case "Under 500cal":
          this.displayedItems = this.menuItems.filter((item) => {
            return item.calories <= 500;
          });
          break;
        case "Under 300cal":
          this.displayedItems = this.menuItems.filter((item) => {
            return item.calories <= 300;
          });
          break;
        case "Chicken":
          this.displayedItems = this.menuItems.filter((item) => {
            return item.name.toLowerCase().includes("chicken");
          });
          break;
        case "Vegan":
          this.displayedItems = this.menuItems.filter((item) => {
            return item.name.toLowerCase().includes("vegan");
          });
          break;
      }
    },
    handleShowItemDetails(item) {
      this.showItemDetails = true;
      axios
        .get(`/api/nutrition-details/${item._id}`)
        .then((res) => {
          this.itemDetails = res.data;
        })
        .catch((err) => this.$store.commit("setErrorMessage", err.response.data.error.message));
    },
    closeItemDetails() {
      this.showItemDetails = false;
      this.itemDetails = "";
    },
  },
  mounted() {
    this.displayedItems = this.menuItems;
    this.showToggleItems = [this.foodCategories[0]];
  },
};
</script>

<style scoped>
.nutrition {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-filter {
  width: 60%;
  margin-top: 5rem;
}
.select-filter select {
  font-size: 2rem;
}
.nutrition-items-list {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: start;
  margin-top: 4rem;
}
.nutrition-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  border-bottom: 1px solid #3333334f;
  margin-bottom: 2rem;
  cursor: pointer;
}
.nutrition-items svg {
  height: 50px;
  width: 55px;
}
.nutrition-items p {
  font-size: 2rem;
  font-weight: 900;
}
.toggled-items {
  opacity: 1;
  height: fit-content;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  grid-auto-rows: 300px;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
.toggled-items.hidden {
  opacity: 0;
  height: 0;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.toggled-item {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  background-color: white;
  padding: 0.3rem;
  box-shadow: 0 0 4px;
  position: relative;
}
.toggled-item.hidden {
  display: none;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.toggled-item img {
  height: 60%;
  width: 100%;
  border-radius: 0.3rem;
}
.toggled-item span {
  font-weight: 600;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.item-calories {
  position: absolute;
  bottom: 0;
  left: 14px;
}

@media only screen and (max-width: 800px) {
  .select-filter {
    width: 96%;
  }
  .nutrition-items-list {
    width: 96%;
  }
}
</style>
